body
{
color:red;
background:#FFEE8C
}
.left
{
width:30%;
  float:left;
background:orange
}
.right
{float:left;
width:30%;
background:yellow;
}
.right1
{float:left;
background:lightgreen;
}